<html>
<nav class="panel-anchors" aria-labelledby="admission-status-nav-title">
    <h2 id="admission-status-nav-title" class="panel-anchors__title"><span class="panel-anchors__title--large">Admission
            Status</span><span class="u-sr-only">Section Links</span><span class="panel-anchors__title--small"
            aria-hidden="true">In this section</span><button class="js-accordion-toggle" aria-expanded="false"
            aria-controls="admission-status-list" aria-label="Open navigation"
            data-targetid="admission-status-list"><span aria-hidden="true"><svg width="16" height="16"
                    viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <polygon
                        points="121 113 128 113 128 115 121 115 121 122 119 122 119 115 112 115 112 113 119 113 119 106 121 106"
                        transform="translate(-112 -106)" />
                </svg></span></button></h2>
    <ul id="admission-status-list" class="panel-anchors__list" aria-label="Admission Status Section Links">
        <li class="panel-anchors__item js-nav-watch--item"><a href="#view-status-update"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                View Status Update
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#wait-list-status"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Wait List Status
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#withdraw-status"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Withdraw Status
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#admissions-forms"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Forms
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#huid-number"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Harvard University ID Number
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#conditions-of-admission"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Conditions of Admission
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#financial-aid-info"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Financial Aid Information
            </a></li>
        <li class="panel-anchors__item js-nav-watch--item"><a href="#admitted-students-website"
                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11" viewBox="0 0 16 11"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon
                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                    </svg></span>
                Admitted Students Website
            </a></li>
    </ul>
</nav>






<div class="status-panel__sidebar-modals">
    <div class="toggletip--labeled"><button class="toggletip__toggle js-modal-toggle sidebar-modal-button"
            data-modalid="modal-contact-resources"><span aria-hidden="true"
                class="u-icon u-icon--small u-icon--grey">?</span><span class="toggletip--labeled__label">Contact &amp;
                Resources</span></button></div>
</div>



</div>
<div class="status-panel__content o-col o-col-sm-md-8 o-col-sm-md--offset-1">
    <div id="view-status-update" class="status-panel__section-wrapper section--view-status-update">
        <div class="status-panel__section js-nav-watch--section">
            <div>
                <h3>Status Update</h3>
                <p>An update to your application was last posted May 16, 2018. </p>
                <p><a href="/apply/update" style="font-weight: bold;">View Status Update</a></p>
            </div>
        </div>
    </div>
    <div id="wait-list-status" class="status-panel__section-wrapper section--wait-list-status">
        <div class="status-panel__section js-nav-watch--section"></div>
    </div>
    <div id="withdraw-status" class="status-panel__section-wrapper wait-list-decision">
        <div class="status-panel__section js-nav-watch--section"></div>
    </div>
    <div id="admissions-forms" class="status-panel__section-wrapper section--admissions-forms">
        <div class="status-panel__section js-nav-watch--section">
            <h3>Forms</h3>
            <table class="nohighlight table">
                <colgroup>
                    <col style="width: 25px;" />
                    <col style="width: 100px;" />
                    <col />
                </colgroup>
                <tr>
                    <td><img alt="Status: Completed" height="16"
                            src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png" width="16" /></td>
                    <td>05/16/2018</td>
                    <td>Admitted Student Reply Form<a
                            href="/apply/form?k=3dee216a-f1fd-4dd3-9cd2-bfc83f17cd40&amp;cmd=display"
                            style="margin-left: 15px;">Display</a></td>
                </tr>
                <tr>
                    <td><img alt="Status: Completed" height="16"
                            src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png" width="16" /></td>
                    <td>04/30/2018</td>
                    <td>Wait List Materials Upload<a
                            href="/apply/form?k=67c44537-ec75-4962-87c6-647343130033&amp;cmd=display"
                            style="margin-left: 15px;">Display</a><a
                            href="/apply/form?id=aed06bd6-c71f-42f3-9aba-c874ed136013" style="margin-left: 15px;">Submit
                            New</a></td>
                </tr>
                <tr>
                    <td><img alt="Status: Completed" height="16"
                            src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png" width="16" /></td>
                    <td>04/28/2018</td>
                    <td>Wait List Materials Upload<a
                            href="/apply/form?k=9330bf24-f8bb-4060-ad07-18bb0dce085c&amp;cmd=display"
                            style="margin-left: 15px;">Display</a><a
                            href="/apply/form?id=aed06bd6-c71f-42f3-9aba-c874ed136013" style="margin-left: 15px;">Submit
                            New</a></td>
                </tr>
                <tr>
                    <td><img alt="Status: Completed" height="16"
                            src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png" width="16" /></td>
                    <td>03/29/2018</td>
                    <td>Wait List Reply Form<a href="/apply/form?k=8f3244b1-3bae-40f5-a85e-01bd97dafe2e&amp;cmd=display"
                            style="margin-left: 15px;">Display</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div id="huid-number" class="status-panel__section-wrapper section--huid-number">
        <div class="status-panel__section js-nav-watch--section"></div>
    </div>
    <div id="conditions-of-admission" class="status-panel__section-wrapper section--conditions-of-admission">
        <div class="status-panel__section js-nav-watch--section">
            <h3>Conditions of Admission</h3>
            <p>Please note that when accepting your offer of admission, you are agreeing to abide by Harvard College's
                conditions for acceptance. Harvard College reserves the right to withdraw an offer of admission under
                the
                following conditions:</p>
            <p><strong>Conditions of Offer Withdraw</strong></p>
            <ul class="no-margin--top">
                <li>If you fail to graduate and receive a diploma by the end of the current school year</li>
                <li>If you show a significant drop in your academic performance between now and your graduation from
                    school</li>
                <li>If you engage or have engaged in behavior that brings into question your honesty, maturity or moral
                    character</li>
                <li>In the event any part of your application contains misrepresentations</li>
                <li>If you are holding beyond May 1 a place in the freshman class of more than one college. (If you are
                    on a waiting list at another college, and are later accepted and decide to attend that college, we
                    expect
                    you to let us know immediately of your change in plans.)</li>
            </ul>
            <p>Please note: If you have been admitted to another college under an Early Decision program, you must
                withdraw your application from Harvard College immediately and are not eligible to accept our offer of
                admission.</p>
        </div>
    </div>
    <div id="financial-aid-info" class="status-panel__section-wrapper section--financial-aid-info">
        <div class="status-panel__section js-nav-watch--section"></div>
    </div>
    <div id="admitted-students-website" class="status-panel__section-wrapper section--admitted-students-website">
        <div class="status-panel__section js-nav-watch--section"></div>
    </div>
</div>
</div>
</div>
<div class="status-tabs__panel" tabindex="0" role="tabpanel" id="checklist-panel" aria-labelledby="checklist-control">
    <div class="o-row status-panel">
        <div class="status-panel__sidebar o-col o-col-sm-md-3">
            <div class="status-panel__sidebar-inner">
                <nav class="panel-anchors" aria-labelledby="application-info-nav-title">
                    <h2 id="application-info-nav-title" class="panel-anchors__title"><span
                            class="panel-anchors__title--large">Application Information</span><span
                            class="u-sr-only">Section Links</span><span class="panel-anchors__title--small"
                            aria-hidden="true">In this section</span><button class="js-accordion-toggle"
                            aria-expanded="false" aria-controls="admission-status-list" aria-label="Open navigation"
                            data-targetid="application-info-list"><span aria-hidden="true"><svg width="16" height="16"
                                    viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                    <polygon
                                        points="121 113 128 113 128 115 121 115 121 122 119 122 119 115 112 115 112 113 119 113 119 106 121 106"
                                        transform="translate(-112 -106)" />
                                </svg></span></button></h2>
                    <ul id="application-info-list" class="panel-anchors__list"
                        aria-label="Application Information Section Links">
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#important-dates"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Important Dates
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#application-checklist"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Application Checklist
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#upload-material"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Upload Supplemental Material
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#international-messages"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                International Interview Options
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#consider-test-scores"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Request to Have Test Scores Considered
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#self-report-scores"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Self-Report Test Scores
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#withdraw-application"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Withdraw Application
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#change-application-round"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Change Application Round
                            </a></li>
                    </ul>
                </nav>
            </div>
            <div class="status-panel__sidebar-modals">
                <div class="toggletip--labeled"><button class="toggletip__toggle js-modal-toggle sidebar-modal-button"
                        data-modalid="modal-contact-resources"><span aria-hidden="true"
                            class="u-icon u-icon--small u-icon--grey">?</span><span
                            class="toggletip--labeled__label">Contact &amp; Resources</span></button></div>
            </div>
        </div>
        <div class="status-panel__content o-col o-col-sm-md-8 o-col-sm-md--offset-1">
            <h2 class="u-sr-only">Application Information Content</h2>
            <div id="important-dates" class="status-panel__section-wrapper section--important-dates">
                <div class="status-panel__section js-nav-watch--section">
                    <h3 id="important-dates-title"><a
                            href="http://college.harvard.edu/admissions/apply/application-timeline">Important Dates</a>
                    </h3>
                    <ul class="important-dates-list" aria-labelledby="important-dates-title"></ul>
                    <div class="cta-wrapper"><a class="cta-inline"
                            href="http://college.harvard.edu/admissions/apply/application-timeline">Full Application
                            Timeline</a></div>
                </div>
            </div>
            <div id="application-checklist" class="status-panel__section-wrapper section--application-checklist">
                <div class="status-panel__section js-nav-watch--section">
                    <div style="margin-top: 10px;">
                        <div id="part_admissions">
                            <h3>Application Checklist<span style="float: right;">Application Submitted:
                                    01/01/2018</span></h3>
                            <v>
                                <html>

                                <head>
                                    <title></title>
                                    <style type="text/css">
                                        /*<![CDATA[*/
                                        p.p1 {
                                            margin: 0.0px 0.0px 0.0px 0.0px;
                                            font: 16.0px Georgia;
                                            -webkit-text-stroke: #000000
                                        }

                                        p.p2 {
                                            margin: 0.0px 0.0px 0.0px 0.0px;
                                            font: 16.0px Georgia;
                                            -webkit-text-stroke: #000000;
                                            min-height: 19.0px
                                        }

                                        span.s1 {
                                            font-kerning: none;
                                            color: #202020;
                                            -webkit-text-stroke: 0px #202020
                                        }

                                        span.s2 {
                                            font-kerning: none
                                        }

                                        /*]]>*/
                                    </style>
                                </head>

                                <body>
                                    <p>The checklist below indicates the receipt of the required components of your
                                        application. If you have sent materials that are shown in your checklist as not
                                        yet received, it is possible that those documents are being processed by our
                                        office and simply have not made it to your official file yet.&#xA0;Please note
                                        that the date accompanying the test requirement reflects only when the
                                        requirement was met, not the most recent test.&#xA0;We receive scores as they
                                        become available, and we will consider&#xA0;the highest score or scores from
                                        whichever verified tests we receive from the testing agency.</p>
                                    <p>You will be informed if any required materials are missing and will be given time
                                        to submit them without penalty. Please note that required forms are not accepted
                                        by email. Due to the volume of credentials the Admissions Office receives, we
                                        are unable to provide email acknowledgment for any non-required materials. <a
                                            href="https://college.harvard.edu/admissions/apply/first-year-applicants/application-requirements"
                                            target="_blank">View detailed application requirements here</a>.<br />
                                        &#xA0;</p>
                                </body>

                                </html>
                            </v>
                            <table class="nohighlight table">
                                <colgroup>
                                    <col style="width: 25px;" />
                                    <col style="width: 100px;" />
                                    <col />
                                    <col style="width: 100px;" />
                                </colgroup>
                                <thead>
                                    <tr class="column">
                                        <th colspan="2">Status</th>
                                        <th>Details</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Application</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Final Report (Transcript)</td>
                                        <td>06/12/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Final Report</td>
                                        <td>06/12/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Secondary School Transcript</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Secondary School Report</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Teacher Recommendation 1</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Teacher Recommendation 2</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">SAT
                                            or ACT Test Scores</td>
                                        <td>10/18/2017</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Mid
                                            Year Transcript</td>
                                        <td>02/03/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Application Fee - Paid</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">SAT
                                            II: Ecological Biology</td>
                                        <td>09/07/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">SAT
                                            II: Literature</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">SAT
                                            II: Mathematics Level II</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received" height="16"
                                                src="//apply-college-harvard-edu.cdn.technolutions.net/shared/ok.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">SAT
                                            II: Molecular Biology</td>
                                        <td>01/02/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received Document" height="16"
                                                src="//fw.cdn.technolutions.net/framework/action/16/mimetypes/document.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Wait
                                            List Update</td>
                                        <td>04/28/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received Document" height="16"
                                                src="//fw.cdn.technolutions.net/framework/action/16/mimetypes/document.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Wait
                                            List Update</td>
                                        <td>05/09/2018</td>
                                    </tr>
                                    <tr class="plain" style="vertical-align: top;">
                                        <td><img alt="" title="Status: Received Document" height="16"
                                                src="//fw.cdn.technolutions.net/framework/action/16/mimetypes/document.png"
                                                width="16" /></td>
                                        <td>Received</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Wait
                                            List Update</td>
                                        <td>04/30/2018</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="upload-material" class="status-panel__section-wrapper section--upload-materials">
                <div class="status-panel__section js-nav-watch--section"><a name="material"></a>
                    <h3>Upload Materials</h3>
                    <div>
                        <html>

                        <head>
                            <title></title>
                        </head>

                        <body>
                            <p><strong>Supplementary materials are optional;</strong> please only submit if you have
                                exceptional talents. Please share any video, audio recordings, or images via <a
                                    href="http://harvard.slideroom.com" target="_blank">Slideroom</a>.</p>
                            <div class="cta-wrapper cta-wrapper--inline"><a class="cta-inline"
                                    href="https://college.harvard.edu/admissions/apply/first-year-applicants/application-requirements#supplemental-materials"
                                    target="_blank">Supplemental Materials Guidelines</a></div>
                            <p>Use the material uploader to submit additional material that will help the Committee
                                understand your application more fully. This is the preferred method of application, as
                                these materials will be added directly to your official application.</p>
                            <p class="alt-list-title"><strong>Materials that should be uploaded here:</strong></p>
                            <ul class="alt-list-style">
                                <li>Scholarly Articles</li>
                                <li>Research Papers or Presentations</li>
                                <li>Creative Writing Examples</li>
                                <li>Personal Updates</li>
                                <li>Unofficial Transcripts</li>
                                <li>Unofficial Standardized test scores</li>
                            </ul>
                            <div class="status-panel__slate-data-buffer">&#xA0;</div>
                        </body>

                        </html>
                        <form action="/apply/statusHandler" enctype="multipart/form-data" method="post"
                            onsubmit="return (false);" class="apply_navigate_skip" novalidate="novalidate"><select
                                name="material" size="1"
                                data-validate="{ required: true, help: 'Please select a material type.' }">
                                <option></option>
                                <option value="afc223dd-7bf1-4a61-8acc-dd050a2a93c2">Academic Work</option>
                                <option value="c8fbd94a-0119-4808-8339-95603976810d">Miscellaneous</option>
                            </select><input name="file" size="32" style="margin-left: 15px;" type="file" value=""
                                accept=".bmp,.doc,.docx,.jpg,.jpeg,.pdf,.png,.ppt,.pptx,.txt,application/msword,application/pdf,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,text/*"
                                autocomplete="off" /><button class="default"
                                onclick="if (FW.Validate(this)) FW.Lazy.Commit(this, { 'cmd': 'upload' });"
                                style="margin-left: 15px;" type="button">Upload</button></form>
                    </div>
                </div>
            </div>
            <div id="international-messages" class="status-panel__section-wrapper section--international-messages">
                <div class="status-panel__section js-nav-watch--section"></div>
            </div>
            <div id="consider-test-scores" class="status-panel__section-wrapper">
                <div class="status-panel__section js-nav-watch-section"></div>
            </div>
            <div id="self-report-scores" class="status-panel__section-wrapper">
                <div class="status-panel__section js-nav-watch--section"></div>
            </div>
            <div id="withdraw-application" class="status-panel__section-wrapper section--withdraw-application">
                <div class="status-panel__section js-nav-watch--section"></div>
            </div>
            <div id="change-application-round" class="status-panel__section-wrapper section-change-application-round">
                <div class="status-panel__section js-nav-watch-section"></div>
            </div>
        </div>
    </div>
</div>
<div class="status-tabs__panel" tabindex="0" role="tabpanel" id="profile-panel" aria-labelledby="profile-control"
    hidden="">
    <div class="o-row status-panel">
        <div class="status-panel__sidebar o-col o-col-sm-md-3">
            <div class="status-panel__sidebar-inner">
                <nav class="panel-anchors " aria-labelledby="profile-nav-title">
                    <h2 id="profile-nav-title" class="panel-anchors__title"><span
                            class="panel-anchors__title--large">Profile</span><span class="u-sr-only">Section
                            Links</span><span class="panel-anchors__title--small" aria-hidden="true">In this
                            section</span><button class="js-accordion-toggle" aria-expanded="false"
                            aria-controls="profile-list" aria-label="Open navigation" data-targetid="profile-list"><span
                                aria-hidden="true"><svg width="16" height="16" viewBox="0 0 16 16"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <polygon
                                        points="121 113 128 113 128 115 121 115 121 122 119 122 119 115 112 115 112 113 119 113 119 106 121 106"
                                        transform="translate(-112 -106)" />
                                </svg></span></button></h2>
                    <ul id="profile-list" class="panel-anchors__list" aria-label="Profile Section Links">
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#personal-info"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Personal Information
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#update-address"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Update Address
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#update-finaid"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Update Financial Aid Application
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#update-ssn"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Update Social Security Number
                            </a></li>
                        <li class="panel-anchors__item js-nav-watch--item"><a href="#change-account-info"
                                class="js-nav-watch--anchor js-smooth-anchor" data-jumpoffset="-100"><span
                                    class="panel-anchors__item-arrow" aria-hidden="true"><svg width="16" height="11"
                                        viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                                        <polygon
                                            points="13.293 4.735 9.265 .707 9.972 0 15.21 5.238 9.966 10.395 9.265 9.682 13.278 5.735 0 5.735 0 4.735" />
                                    </svg></span>
                                Update Email
                            </a></li>
                    </ul>
                </nav>

</html>