html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "anziano";
  font-style: normal;
  font-weight: 400;
  src: url("/font-files/AnzianoPro-Regular.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Regular.woff") format("woff"),
    url("/font-files/AnzianoPro-Regular.eot?") format("eot"),
    url("/font-files/AnzianoPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "anziano";
  font-style: italic;
  font-weight: 400;
  src: url("/font-files/AnzianoPro-Italic.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Italic.woff") format("woff"),
    url("/font-files/AnzianoPro-Italic.eot?") format("eot"),
    url("/font-files/AnzianoPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "anziano";
  font-style: normal;
  font-weight: 700;
  src: url("/font-files/AnzianoPro-Bold.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Bold.woff") format("woff"),
    url("/font-files/AnzianoPro-Bold.eot?") format("eot"),
    url("/font-files/AnzianoPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 300;
  src: url("/font-files/BentonSans-Light.woff2") format("woff2"),
    url("/font-files/BentonSans-Light.woff") format("woff"),
    url("/font-files/BentonSans-Light.eot?") format("eot"),
    url("/font-files/BentonSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 400;
  src: url("/font-files/BentonSans-Book.woff2") format("woff2"),
    url("/font-files/BentonSans-Book.woff") format("woff"),
    url("/font-files/BentonSans-Book.eot?") format("eot"),
    url("/font-files/BentonSans-Book.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 600;
  src: url("/font-files/BentonSans-Medium.woff2") format("woff2"),
    url("/font-files/BentonSans-Medium.woff") format("woff"),
    url("/font-files/BentonSans-Medium.eot?") format("eot"),
    url("/font-files/BentonSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 700;
  src: url("/font-files/BentonSans-Bold.woff2") format("woff2"),
    url("/font-files/BentonSans-Bold.woff") format("woff"),
    url("/font-files/BentonSans-Bold.eot?") format("eot"),
    url("/font-files/BentonSans-Bold.ttf") format("truetype");
}
:root {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: "benton-sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.65;
  font-weight: 300;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  color: #202020;
  position: relative;
}
@media only screen and (min-width: 760px) {
  body {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    font-size: 2rem;
  }
}
body *:focus {
  outline: 0.2rem solid #2b669f;
  outline-offset: 0.5rem;
}
body.u-keyboard-user *:focus {
  outline: 0.2rem solid #2b669f;
  outline-offset: 0.5rem;
}
body.is-locked {
  overflow: hidden !important;
}
/***
TYPOGRAPHY 
***/

h3 {
  font-size: 3.6rem;
  line-height: 1;
  font-family: "anziano", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.1rem;
  margin-bottom: 1.6rem;
  position: relative;
}

.part--help-modal-title h2 {
  margin-top: 20px;
  font-size: 3.6rem;
  line-height: 1;
  font-family: "anziano", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.1rem;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 730px) {
  .part--help-modal-title h2 {
    margin-top: 30px;
  }
}

a,
a:link,
a:visited,
.status-panel__section > a {
  color: #202020;
  -webkit-transition: all 0.15s ease, outline 0s, outline-offset 0s;
  transition: all 0.15s ease, outline 0s, outline-offset 0s;
  text-decoration: none;
}
a:hover,
a:link:hover,
a:visited:hover,
.status-panel__section > a:hover {
  color: #2b669f;
}
p a,
p a:link,
p a:visited,
p .status-panel__section > a {
  border-bottom: 0.1rem solid #202020;
  -webkit-transition: all 0.18s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
  transition: all 0.18s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
}
p a:hover,
p a:link:hover,
p a:visited:hover,
p .status-panel__section > a:hover {
  color: #2b669f;
  border-color: transparent;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: 600;
}
img {
  display: block;
  max-width: 100%;
}
abbr[title],
acronym[title] {
  text-decoration: none;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -webkit-transition: all 0.15s ease, outline 0s, outline-offset 0s;
  transition: all 0.15s ease, outline 0s, outline-offset 0s;
}
.no-touch button:active {
  background: inherit;
  color: inherit;
}
.part table {
  border: 1px solid #dae0e0;
}
tr.column > th {
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  padding-top: 1.6rem !important;
}
tr.column > th,
tr.column > td,
.column {
  background-color: #fcfcfc;
}
table.table > * > tr > th,
table.table > * > tr > td {
  font-size: 1.6rem;
  padding: 1.4rem 0.4rem 1rem;
  line-height: 1.2;
  vertical-align: middle;
}
table.table > * > tr > th {
  padding: 1.2rem 0.4rem 1rem;
}
table.table > * > tr > th:first-child {
  padding-left: 0.8rem;
}
@media only screen and (max-width: 736px) and (min-width: 320px) {
  table.table td {
    padding: 0.4rem 0.6rem !important;
  }
  table.table td img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  tr {
    border-bottom: 1px solid #dae0e0;
    position: relative;
  }
  tr:last-of-type {
    border-bottom: 0;
  }
}
form {
  margin: 2.4rem 0 0;
}
select,
input,
textarea {
  width: 100%;
  display: block;
  min-height: 5.6rem;
  font-size: 1.6rem;
  border: 0 !important;
  border-radius: 0 !important;
  -webkit-appearance: none;
  padding: 1.8rem 2.4rem 0;
  vertical-align: middle;
}
select {
  height: 5.6rem;
  padding: 0.4rem 2.4rem 0;
  background: none;
}
/* UTILITY CLASSES (buttons, bands. etc.) */

button.part--action-button,
.part--action-button a:link,
.part--action-button a:visited,
.part--action-button td a:link,
.part--action-button td a:visited,
.part--action-button a.cta-form-button {
  background: #e9f0f7;
  color: #2b669f;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.1;
  padding: 0.7rem 0.8rem 0.5rem;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
  transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
}
button.part--action-button:hover,
.part--action-button td a:hover,
.part--action-button a:hover,
.part--action-button p a:hover,
.part--action-button a.cta-form-button:hover {
  background-color: #fff;
  border-color: #2b669f;
}
/* modal close button */

button.part--action-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* GLOBALS - applicant status portal wide rules, including landmarks */

/* college header */

.c_m-site-header.cr {
  background-color: #424040;
}
.c_m-site-header.cr .c_o-container-fluid.cr {
  position: relative;
  height: 7.2rem;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr .c_o-container-fluid.cr {
    height: 10rem;
  }
}
@media only screen and (min-width: 1080px) {
  .c_m-site-header.cr .c_o-container-fluid.cr {
    height: 10.4rem;
  }
}
.c_m-site-header.cr .c_havard-letterforms.cr {
  fill: #fcfcfc;
}
.c_m-site-header.cr .c_m-site-header__inner.cr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.c_m-site-header.cr a.c_m-site-header__logo.cr {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: none;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr {
    right: 3rem;
    left: 3rem;
  }
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr:after {
    content: "college.harvard.edu";
    display: block;
    color: #fcfcfc;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1);
    transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1);
    line-height: 1.2;
    font-size: 1.4rem;
  }
}
.c_m-site-header.cr a.c_m-site-header__logo.cr:hover:after {
  border-bottom: 1px solid #fcfcfc;
}
.c_m-site-header.cr a.c_m-site-header__logo.cr svg {
  margin: 0 auto;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr svg {
    margin: 0;
  }
}
.c_m-site-header.cr .c_m-site-header__nav.cr {
  display: none;
}
.c_o-container-fluid.cr {
  width: 100%;
}
.c_o-two-block.c_o-two-block--hidden-title.c_c-panel--pad--large.c_m-two-block-content.cr {
  padding: 0;
}
.c_o-two-block.c_o-two-block--hidden-title.c_c-panel--pad--large.c_m-two-block-content.cr
  > .c_o-container-fluid.cr {
  max-width: none;
  width: 100%;
  padding: 0;
}
/* main content containers*/

#content,
#global {
  max-width: none;
  margin: 0;
}
#content {
  padding: 0 !important;
}
#content a,
#content a:link,
#content a:visited {
  text-decoration: none;
}
#global {
  display: none;
}
/* #page must be visible for sidebar navigation to scroll down*/

#page {
  overflow-x: visible;
}
/*subtabs panel container*/

.part_rows_container > div.part {
  margin-bottom: 0px;
}
#content_body {
  background-color: #f7f6f5;
}
#portal_row_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 144rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
@media only screen and (min-width: 760px) {
  #portal_row_container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
#portal_row_container .part_rows_container.col-1 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 970px) {
  #portal_row_container .part_rows_container.col-1 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }
}
#portal_row_container .part_rows_container.col-2 {
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 970px) {
  #portal_row_container .part_rows_container.col-2 {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }
}
@media (min-width: 768px) {
  #portal_row_container .grid_container.col-3-9 > div:nth-of-type(2) {
    grid-column-start: 5;
  }
}
/*** 
STATUS HEADER
***/

.status-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 144rem;
  padding: 2.4rem 3rem 1.6rem 3rem;
}
@media only screen and (min-width: 970px) {
  .part_rows_container > div.part.status-header {
    margin-bottom: 2.4rem;
    padding-top: 4.8rem;
  }
}
.status-header__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0, auto;
  -webkit-flex: 0, 1, auto;
  -ms-flex: 0, 1, auto;
  flex: 0, 1, auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.2rem;
  margin-left: -0.2rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 970px) {
  .status-header__title-wrapper {
    -webkit-flex-basis: 42%;
    -ms-flex-preferred-size: 42%;
    flex-basis: 42%;
    max-width: 42%;
  }
  .status-header__info-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-basis: 58%;
    -ms-flex-preferred-size: 58%;
    flex-basis: 58%;
    max-width: 58%;
    gap: 20px;
  }
}
h1.status-header__title {
  font-size: 3.8rem;
  line-height: 1;
  font-family: "anziano", serif;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 970px) {
  h1.status-header__title {
    font-size: 5.6rem;
    letter-spacing: -2px;
  }
}
.status-header__info {
  display: none;
}
@media only screen and (min-width: 970px) {
  .status-header__info {
    text-align: right;
    display: block;
    position: relative;
  }
  .status-header__info:last-of-type {
    padding-right: 2.4rem;
  }
  .status-header__info:last-of-type:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #dae0e0;
  }
}
.status-header__info p + p {
  margin-top: 0;
}
.status-header__label {
  font-weight: 600;
  font-size: 1.2rem;
}
@media only screen and (min-width: 480px) {
  .status-header__label {
    font-size: 1.4rem;
  }
}
a.status-header__logout {
  color: #a51c30;
  font-size: 1.4rem;
  padding: 0.7rem 0.8rem 0.5rem;
  background-color: #f6e2e5;
  font-weight: 600;
}
@media only screen and (min-width: 970px) {
  a.status-header__logout {
    background-color: transparent;
  }
}
/*** 
TAB SPECIFIC RULES 
***/

#subtabs--container {
  border-bottom: 1px solid #dae0e0;
  border-top: 1px solid #dae0e0;
}
ul.subtabs {
  background-color: #fff;
  height: auto;
  margin-bottom: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 144rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
@media only screen and (min-width: 760px) {
  ul.subtabs {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
#content ul.subtabs li a {
  background-color: transparent;
  border: none;
  color: #333 !important;
  display: block;
  font-size: 11px;
  font-weight: 500;
  height: 14px;
  line-height: normal;
  margin: 0 10px 0 0;
  padding: 30px 15px 40px 28px;
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 2px solid #fff;
  background-position: center left;
  background-repeat: no-repeat;
}
#content ul.subtabs li a:hover {
  background-color: #fff !important;
  color: #333 !important;
  border-bottom: 2px solid #dae0e0;
}
#content ul.subtabs li a.active {
  border-bottom: 2px solid #336aaa;
  font-weight: 600;
  line-height: 0.9em;
}
li.subtabs__item--admissions-status a {
  background-image: url("/images/tab-envelope.svg");
}
li.subtabs__item--application-info a {
  background-image: url("/images/tab-menu.svg");
}
li.subtabs__item--profiles a {
  background-image: url("/images/tab-profile.svg");
}
#content ul.subtabs li.subtabs__item--help-modal-link a {
  background-image: url("/images/help.svg");
  background-position: 9px;
  background-color: #f7f6f5;
  padding: 15px 12px 28px 35px;
  border-radius: 20px;
  margin: 14px 25px 14px 0;
}
@media only screen and (min-width: 479px) {
  ul.subtabs {
    position: relative;
  }
  li.subtabs__item--help-modal-link {
    position: absolute;
    right: 0;
  }
}
@media only screen and (max-width: 479px) {
  ul.subtabs li {
    display: block;
  }
}
/** subtabs fixed styles **/

#subtabs--container.fixed ul.subtabs {
  border-left: 1px solid #ccc;
  margin-left: 0;
}
#subtabs--container.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  background: #fff;
  align-items: center;
}
#subtabs--container .subtabs__shield {
  display: none;
  transition: all 0.3s;
}
@media only screen and (min-width: 479px) {
  #subtabs--container.fixed .subtabs__shield {
    display: block;
    margin-left: 40px;
    padding-right: 20px;
  }
}
#subtabs--container.fixed .subtabs__shield svg {
  width: 3rem;
  height: 3.7rem;
}
/*** 
SIDEBAR NAV 
***/

.side-nav-wrapper {
  background-color: #fcfcfc;
  font-size: 1.6rem;
}
.panel-anchors__title {
  padding: 1.6rem;
  font-weight: 600;
  letter-spacing: 0;
  position: relative;
  border-bottom: 1px solid #dae0e0;
}
@media only screen and (min-width: 760px) {
  #c_main-content.fixed .side-nav-wrapper {
    position: fixed;
    width: 342px;
    top: 100px;
  }
  .panel-anchors__title {
    padding: 1.6rem 3.2rem;
  }
}
@media only screen and (min-width: 970px) {
  .panel-anchors__title {
    padding: 2.4rem 3.2rem 1.6rem;
  }
}
.panel-anchors__title--large {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@media only screen and (min-width: 970px) {
  .panel-anchors__title--large {
    clip: auto !important;
    height: auto !important;
    overflow: auto;
    position: static;
    white-space: nowrap;
    width: auto;
  }
}
@media only screen and (min-width: 970px) {
  .panel-anchors__title--small {
    display: none;
  }
}
.panel-anchors__title button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 2.4rem;
  text-align: right;
}
@media only screen and (min-width: 760px) {
  .panel-anchors__title button {
    padding-right: 3.2rem;
  }
}
@media only screen and (min-width: 970px) {
  .panel-anchors__title button {
    display: none;
  }
}
.panel-anchors__title button:focus,
.panel-anchors__title button:hover,
.panel-anchors__title button:active {
  background: none;
}
.panel-anchors__title button.is-open span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel-anchors__title button span {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 0, 0.5, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 0, 0.5, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0, 0.5, 1);
  transition: transform 0.2s cubic-bezier(0.25, 0, 0.5, 1),
    -webkit-transform 0.2s cubic-bezier(0.25, 0, 0.5, 1);
  display: inline-block;
}
.side-nav-wrapper ul {
  padding: 1.2rem 0 2rem;
}
.side-nav-wrapper ul.is-open {
  display: block;
}
@media only screen and (min-width: 970px) {
  .panel-anchors__list {
    display: block !important;
  }
}
.panel-anchors__item {
  position: relative;
}
@media only screen and (min-width: 970px) {
  .panel-anchors__item.selected {
    font-weight: 600;
  }
}
.side-nav-wrapper li a {
  display: block;
  padding: 0.4rem 1.6rem;
}
@media only screen and (min-width: 760px) {
  .side-nav-wrapper li a {
    padding: 0.4rem 3.2rem;
  }
}
.u-keyboard-user .side-nav-wrapper li a:focus {
  outline-offset: 0;
}
.panel-anchors__item-arrow {
  display: none;
}
@media only screen and (min-width: 970px) {
  .panel-anchors__item-arrow {
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .selected .panel-anchors__item-arrow {
    opacity: 1;
    left: 1rem;
  }
}
/*** 
MAIN CONTENT COLUMN - BLOCKS 
***/

#content_body .col-2 .part {
  background: #fff;
  padding: 30px 30px 30px 75px;
  margin-bottom: 20px;
}
/* show list bullets or numbers when created via the wysiwyg */

.col-2 .part ol,
.col-2 .part ul {
  list-style: initial;
}
.col-2 .part ol,
.col-2 .part ul {
  margin-left: 45px;
}
/* removes icon padding for blocks without an icon */

#content_body .col-2 .part--no-icon {
  padding: 30px;
}
/* specific content block icons */

.col-2 .part h3:before {
  content: "";
  display: block;
  width: 2.3rem;
  height: 2.9rem;
  position: absolute;
  top: 0.4rem;
  left: -4.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.col-2 .part--one-form_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/single-document.svg");
}
.col-2 .part--two-forms_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/stacked-documents.svg");
}
.col-2 .part--calendar-clock_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/calendar-clock.svg");
  width: 4rem;
  left: -5rem;
}
.col-2 .part--alert_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/alert.svg");
  width: 4rem;
  left: -5rem;
}
.col-2 .part--checklist_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/checklist.svg");
  width: 4rem;
  height: 3.1rem;
  left: -4.9rem;
}
.col-2 .part--home-tree_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/home-with-tree.svg");
  width: 4rem;
  height: 3.1rem;
  top: 0.1rem;
  left: -5.2rem;
}
.col-2 .part--person_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/person.svg");
  width: 4rem;
  height: 3.1rem;
  top: 0.1rem;
  left: -5.2rem;
}
.col-2 .part--empty-document_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/empty-document.svg");
  width: 4rem;
  height: 3.1rem;
  top: 0.1rem;
  left: -5.2rem;
}
.col-2 .part--upload_icon h3:before {
  background-image: url("https://apply.college.harvard.edu/images/upload.svg");
  width: 4rem;
  height: 3.1rem;
  top: 0.1rem;
  left: -5.2rem;
}
/*** 
UPLOAD BLOCK FORM ELEMENTS, BUTTONS, ETC.
***/

.upload_form select,
.upload_form input {
  margin-bottom: 12px;
  background: #f7f6f5;
  margin-left: 0 !important;
  position: relative;
}

.upload_form select[name="material"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3E%3Cpolygon fill='%23303030' points='5 0 10 7.5 0 7.5' opacity='.8' transform='rotate(-180 5 3.75)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% center;
}

button.default {
  margin-left: 0 !important;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  font-weight: 300;
  border-radius: 0;
  background-color: #202020;
  color: #fcfcfc;
  padding: 1.6rem;
  -webkit-transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1),
    border 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.5, 0, 0.5, 1),
    border 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  font-size: 1.6rem;
}
/***
OVERRIDE UTILITIES
***/

.u-keyboard-user .u-focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
.u-sr-only,
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*# sourceURL=slate-fall2021.css */
