/*
CSS GUIDELINES
https://docs.google.com/document/d/1zoc2F4CuzyL6LxVV2b0bpQgSXOFS5ZTTj-21lZ2NqOo/edit?usp=sharing
    
    - Rules should be organized within clearly separated sections of the stylesheet. 
    - Within the sections, rules that act on the same parts of the design should be kept together. 
    - Start designs with the smallest viewport, add changes for larger sizes within @media blocks using min-width.
    - Rules within @media queries (or @supports) are grouped in the stylesheet based on the rule, as if the @media didn't exist. That is, rules are not consolidated in the stylesheet with all the other rules applied at the same breakpoint.
    - Start class names with "hwp-"
    - If class is written in source (not used in "Apply CSS" field), start name with "hwp-src-"
    - Include "js-" in name if class is added by JavaScript
*/

/* ELEMENT SELECTORS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "anziano";
  font-style: normal;
  font-weight: 400;
  src: url("/font-files/AnzianoPro-Regular.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Regular.woff") format("woff"),
    url("/font-files/AnzianoPro-Regular.eot?") format("eot"),
    url("/font-files/AnzianoPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "anziano";
  font-style: italic;
  font-weight: 400;
  src: url("/font-files/AnzianoPro-Italic.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Italic.woff") format("woff"),
    url("/font-files/AnzianoPro-Italic.eot?") format("eot"),
    url("/font-files/AnzianoPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "anziano";
  font-style: normal;
  font-weight: 700;
  src: url("/font-files/AnzianoPro-Bold.woff2") format("woff2"),
    url("/font-files/AnzianoPro-Bold.woff") format("woff"),
    url("/font-files/AnzianoPro-Bold.eot?") format("eot"),
    url("/font-files/AnzianoPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 300;
  src: url("/font-files/BentonSans-Light.woff2") format("woff2"),
    url("/font-files/BentonSans-Light.woff") format("woff"),
    url("/font-files/BentonSans-Light.eot?") format("eot"),
    url("/font-files/BentonSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 400;
  src: url("/font-files/BentonSans-Book.woff2") format("woff2"),
    url("/font-files/BentonSans-Book.woff") format("woff"),
    url("/font-files/BentonSans-Book.eot?") format("eot"),
    url("/font-files/BentonSans-Book.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 600;
  src: url("/font-files/BentonSans-Medium.woff2") format("woff2"),
    url("/font-files/BentonSans-Medium.woff") format("woff"),
    url("/font-files/BentonSans-Medium.eot?") format("eot"),
    url("/font-files/BentonSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "benton-sans";
  font-style: normal;
  font-weight: 700;
  src: url("/font-files/BentonSans-Bold.woff2") format("woff2"),
    url("/font-files/BentonSans-Bold.woff") format("woff"),
    url("/font-files/BentonSans-Bold.eot?") format("eot"),
    url("/font-files/BentonSans-Bold.ttf") format("truetype");
}
:root {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  font-family: "benton-sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.65;
  font-weight: 300;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  color: #202020;
  position: relative;
}
@media only screen and (min-width: 760px) {
  body {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    font-size: 2rem;
  }
}
body *:focus {
  outline: none;
}
body.u-keyboard-user *:focus {
  outline: 0.2rem solid #2b669f;
  outline-offset: 0.5rem;
}
body.is-locked {
  overflow: hidden !important;
}

h3 {
    font-size: 3.6rem;
    line-height: 1;
    font-family: "anziano", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.1rem;
    margin-bottom: 1.6rem;
  }
a,
a:link,
a:visited,
.status-panel__section > a {
  color: #202020;
  -webkit-transition: all 0.15s ease, outline 0s, outline-offset 0s;
  transition: all 0.15s ease, outline 0s, outline-offset 0s;
  text-decoration: none;
}
a:hover,
a:link:hover,
a:visited:hover,
.status-panel__section > a:hover {
  color: #2b669f;
}
p a,
p a:link,
p a:visited,
p .status-panel__section > a {
  border-bottom: 0.1rem solid #202020;
  -webkit-transition: all 0.18s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
  transition: all 0.18s cubic-bezier(0.25, 0, 0.5, 1), outline 0s,
    outline-offset 0s;
}
p a:hover,
p a:link:hover,
p a:visited:hover,
p .status-panel__section > a:hover {
  color: #2b669f;
  border-color: transparent;
}
i,
em {
  font-style: italic;
}
b,
strong {
  font-weight: 600;
}
img {
  display: block;
  max-width: 100%;
}
abbr[title],
acronym[title] {
  text-decoration: none;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  -webkit-transition: all 0.15s ease, outline 0s, outline-offset 0s;
  transition: all 0.15s ease, outline 0s, outline-offset 0s;
}
.no-touch button:active {
  background: inherit;
  color: inherit;
}

table {
  border: 1px solid #dae0e0;
}
tr.column > th {
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  padding-top: 1.6rem !important;
}
tr.column > th,
tr.column > td,
.column {
  background-color: #fcfcfc;
}
table.table > * > tr > th,
table.table > * > tr > td {
  font-size: 1.6rem;
  padding: 1.4rem 0.4rem 1rem;
  line-height: 1.2;
  vertical-align: middle;
}
table.table > * > tr > th {
  padding: 1.2rem 0.4rem 1rem;
}
table.table > * > tr > th:first-child {
  padding-left: 0.8rem;
}
@media only screen and (max-width: 736px) and (min-width: 320px) {
  table.table td {
    padding: 0.4rem 0.6rem !important;
  }
  table.table td img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  tr {
    border-bottom: 1px solid #dae0e0;
    position: relative;
  }
  tr:last-of-type {
    border-bottom: 0;
  }
}

form {
    margin: 2.4rem 0 0;
  }
  select,
  input,
  textarea {
    width: 100%;
    display: block;
    min-height: 5.6rem;
    font-size: 1.6rem;
    border: 0 !important;
    border-radius: 0 !important;
    -webkit-appearance: none;
    padding: 1.8rem 2.4rem 0;
    background: transparent !important;
    vertical-align: middle;
  }
  select {
    height: 5.6rem;
    padding: 0.4rem 2.4rem 0;
    background: none;
  }

/* UTILITY CLASSES (buttons, bands. etc.) */

/* GLOBALS - applicant status portal wide rules, including landmarks */

/* college header */
.c_m-site-header.cr {
  background-color: #424040;
}
.c_m-site-header.cr .c_o-container-fluid.cr {
  position: relative;
  height: 7.2rem;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr .c_o-container-fluid.cr {
    height: 10rem;
  }
}
@media only screen and (min-width: 1080px) {
  .c_m-site-header.cr .c_o-container-fluid.cr {
    height: 10.4rem;
  }
}
.c_m-site-header.cr .c_havard-letterforms.cr {
  fill: #fcfcfc;
}
.c_m-site-header.cr .c_m-site-header__inner.cr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.c_m-site-header.cr a.c_m-site-header__logo.cr {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: none;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr {
    right: 3rem;
    left: 3rem;
  }
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr:after {
    content: "college.harvard.edu";
    display: block;
    color: #fcfcfc;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1);
    transition: all 0.2s cubic-bezier(0.25, 0, 0.5, 1);
    line-height: 1.2;
    font-size: 1.4rem;
  }
}
.c_m-site-header.cr a.c_m-site-header__logo.cr:hover:after {
  border-bottom: 1px solid #fcfcfc;
}
.c_m-site-header.cr a.c_m-site-header__logo.cr svg {
  margin: 0 auto;
}
@media only screen and (min-width: 970px) {
  .c_m-site-header.cr a.c_m-site-header__logo.cr svg {
    margin: 0;
  }
}
.c_m-site-header.cr .c_m-site-header__nav.cr {
  display: none;
}
.c_o-container-fluid.cr {
  width: 100%;
}
.c_o-two-block.c_o-two-block--hidden-title.c_c-panel--pad--large.c_m-two-block-content.cr {
  padding: 0;
}
.c_o-two-block.c_o-two-block--hidden-title.c_c-panel--pad--large.c_m-two-block-content.cr
  > .c_o-container-fluid.cr {
  max-width: none;
  width: 100%;
  padding: 0;
}

/* main content containers*/

#content,
#global {
  max-width: none;
  margin: 0;
}

#content {
  padding: 0 !important;
}

#content a,
#content a:link,
#content a:visited {
  text-decoration: none;
}

#global {
  display: none;
}

/* #page must be visible for sidebar navigation to scroll down*/
#page {
  overflow-x: visible;
}

/* TAB SPECIFIC RULES */

/* BLOCK SPECIFIC RULES */
